EPIC_D1_D2_mmsada_pretrain_mmir/
EPIC_D2_D3_mmsada_pretrain_self_nobn/
EPIC_D2_D3_mmsada_pretrain_source/
EPIC_D2_D3_mmsada_self/
EPIC_D2_D3_mmsada_self_nobn/
EPIC_D2_D3_mmsada_source/
EPIC_D2_D3_mmsada_woself/
